.exampleList {
  animation: scroll 30s cubic-bezier(0.66, 0.15, 0.41, 0.98) infinite;
  will-change: transform;
}

.exampleList2 {
  animation: scroll 25s linear infinite;
  will-change: transform;
}

.exampleList3 {
  animation: scroll 40s cubic-bezier(0.66, 0.15, 0.41, 0.98) infinite;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3421px);
  }
}
