.exampleList {
  animation: scroll 30s cubic-bezier(0.66, 0.15, 0.41, 0.98) infinite;
}

.exampleList2 {
  animation: scroll2 25s cubic-bezier(0.66, 0.15, 0.41, 0.98) infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2916px);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(-2916px);
  }
  100% {
    transform: translateX(0);
  }
}
